* {
    font-family: Arial, Helvetica, sans-serif;
}

.cursor {
    cursor: pointer;
}

body {
    margin: 0;
}

.container_principal {
    height: 100vh;
    display: flex;
}

.barra_lateral {
    height: 103vh;
}

.area_dash {
    height: fit-content;
    width: 100%;
    color: white;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%,
            #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%,
            rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%,
            rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
}

.dash_superior {
    height: 8vh;
    margin: 1rem;
    display: flex;
    align-items: center;
    padding-top: 10vh;
}

.bem_vindo {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.text_bemVindo1 {
    font-size: 5vh;
    font-weight: bolder;
}

.text_bemVindo2 {
    font-size: 3vh;
}

a{
    font-style: none;
    text-decoration: none;
    color: white;
}

/*DIV CENTRAL*/
.div_central {
    height: 80vh;
    display: flex;
    justify-content: space-around;
}

.div_conteudo {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_visoes {
    height: 25vh;
    width: 88vw;
    background-color: #1E1E1E;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem;
}

.botao_visoes {
    background-color: #8565C9;
    height: 14vh;
    width: 14vw;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao_visoes:hover {
    box-shadow: 0 0 1rem #bf8cd3;
}

.botao_visoes:active {
    box-shadow: 0 0 1rem #4e3681;
}