* {
  font-family: Arial, Helvetica, sans-serif;
}

.cursor {
  cursor: pointer;
}

body {
  margin: 0;
}

.container_principal {
  height: 140vh;
  display: flex;
}

.area_dash {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%,
      #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%,
      rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%,
      rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
}

.dash_superior {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.titulo {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.text_titulo {
  font-size: 32px;
}

.text_bemVindo2 {
  font-size: 20px;
}

.dash_perfil {
  display: flex;
  position: relative;
  left: 20rem;
}

.perfil_nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perfil_img {
  display: flex;
  align-items: center;
  margin-right: 35%;
}

.perfil_imagem {
  height: 70px;
  width: 70px;
  background-image: url("../assets/imgs/supervisoraGeral.png");
  background-size: cover;
  border-radius: 100%;
  margin: 15px;
}

/*DIV CENTRAL*/
.div_central {
  background-color: #161717;
  height: 450px;
  width: 95%;
  display: flex;
  border-radius: 20px;
  margin-left: 2.5%;
  align-items: center;
  justify-content: space-around;
}

.notificacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
}

.scroll_alertas {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 200px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid #8565C9;
}

.card {
  transition: 0.3s;
  background-color: gray;
  color: white;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #8a59f53b;
}

.container_card {
  padding: 7px 14px;
  display: flex;
  align-items: center;
}

.cards-container{
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: space-between;
}

.exclamacaoAlerta{
  font-size: 1.5rem;
}

.alerta {
  border-radius: 14px;
  min-width: 10px;
  border: 1px;
}

.div_bola {
  display: flex;
  align-items: center;
}

.bola {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-right: 2%;
}

.bola_posicao {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.critico {
 color: red;
 background-color: red;
}

.cuidado {
  color: yellow;
  background-color: yellow;
}

.graficos_kpi{
  width: 67%;
}

.graficos {
  display: flex;
  justify-content: space-between;
}

.alertas_mes {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 50%;
}

.text_alertas {
  font-size: 20px;
}

.alertas_andar {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.titulo_select {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: gray;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;

  /* disable default appearance */
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.kpis_computador {
  display: flex;
  justify-content: space-around;
}

.kpi_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232424;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 2px -2px #0b0c0c;
  max-width: 20vw;
  min-height: 20vh;
  text-align: center;
}

.cuidado_text {
  color: yellow;
}

.critico_text {
  color: red;
}

.seguro_text {
  color: rgb(19, 193, 19);
}

/* DIV INFERIOR */
.div_inferior {
  margin-top: 2%;
  background-color: #161717;
  height: 250px;
  width: 95%;
  border-radius: 20px;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titulo_inferior {
  display: flex;
  align-items: center;
  height: 20%;
  width: 30%;
}

.text_inferior {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 500;
}

.kpis_rede {
  display: flex;
  justify-content: space-around;
}

.kpi_card_rede {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232424;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 2px -2px #0b0c0c;
  min-width: 200px;
  min-height: 20vh;
  text-align: center;
}

.kpi_card_dowload {
  display: flex;
  background-color: #232424;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 2px -2px #0b0c0c;
  min-width: 280px;
  min-height: 20vh;
  text-align: center;
}

.text_dowload {
  display: flex;
  flex-direction: column;
  align-items: start;
}