* {
    font-family: Arial, Helvetica, sans-serif;
}

.cursor {
    cursor: pointer;
}

body {
    margin: 0;
}

.container_principal {
    height: 150vh;
    display: flex;
}

.area_dash {
    height: 100%;
    width: 100%;
    color: white;
    background: linear-gradient(180deg, #4B3753 0%, #4B3753 0%, #4B3753 0.01%, rgba(90, 52, 169, 0.93) 9.09%,
            #8565C9 18.18%, rgba(180, 153, 238, 0.96) 27.27%, rgba(170, 143, 225, 0.63) 39.58%,
            rgba(206, 185, 249, 0.93) 50%, rgba(151, 116, 222, 0.68) 57.29%, rgba(161, 122, 243, 0.85) 64.58%,
            rgba(167, 131, 242, 0.90) 70.31%, rgba(139, 89, 245, 0.63) 81.82%, #5A34A9 90.91%, rgba(75, 55, 83, 0.99) 100%);
}

.segundo {
    background-color: blueviolet;
}

.card_monitoramento {
    width: 91%;
    height: 130vh;
    background-color: rgba(36, 36, 36, 1);
    margin: 3rem;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -39%);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.info {
    width: 98%;
    display: flex;
    position: relative;
    align-self: center;
    margin: 1rem;
    background-color: #3C375C;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 2.5vh;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.dash_superior {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.bem_vindo {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.text_bemVindo1 {
    font-size: 4vh;
    font-weight: bolder;
}

.text_bemVindo2 {
    font-size: 3vh;
}

.info h2 {
    margin: 10px;
}

.bloco_info {
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.info_status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 40px;
    font-size: 15px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.49);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.computador {
    width: 8vw;
}

.idComputador {
    width: 12vw;
}

.atividade {
    width: 11vw;
}

.login {
    width: 12vw;
}

.select_andares {

    width: 8vw;
    height: 40px;
    font-size: 15px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
    text-align: center;
    margin-top: 10px;
    border: black solid 1px;
}

.select_andares:hover {
    cursor: pointer;
}

.bloco_info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 6vh;
    font-size: 2.5vh;
    border-radius: 0.5rem;
    background-color: #332d5b96;
    color: white;
    font-weight: bolder;
    border: black solid 1px;

}

.botao_deletar :active {
    box-shadow: 0 0 1rem #5A34A9;
}

.botao_deletar:hover {
    cursor: pointer;
}

/* .bloco_info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 6vh;
    font-size: 2.5vh;
    border-radius: 0.5rem;
    background-color: #332d5b96;
    color: white;
    font-weight: bolder;
    border: black solid 1px;
    margin-top: 2vh;
} */

.botao_deletar :active {
    box-shadow: 0 0 1rem #5A34A9;
}

.area_meio {
    height: 35%;
    display: flex;
    flex-direction: row;
}

.area_meio_esquerda {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.painel {
    width: 100%;
    margin-left: 70px;
    color: white;
    border-right: 1px solid #ccc;
    height: 45vh;
    display: flex;
}

.painel-container {
    width: 90%;
}

.div_bola {
    display: flex;
    align-items: center;
}

.bola {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin-right: 2%;
}

.verde {
    background-color: lime;
}

.laranja {
    background-color: orange;
}

.vermelha {
    background-color: red;
}

.roxa {
    background-color: blueviolet;
}

.azul {
    background-color: blue;
}

.area_barra {
    display: flex;
    justify-content: center;
    height: 14vh;
    flex-direction: column;
}

.barra_painel {
    width: 95%;
    height: 20px;
    border-radius: 8px;
}

progress::-webkit-progress-bar {
    background: #3D344D;
    border-radius: 8px;
}


/* .barra_painel::-webkit-progress-value {
    background: linear-gradient(90deg, #A36BFD 0%, #6B8AEB 103.21%);
    border-radius: 8px;
}  */

progress[name="verde"]::-webkit-progress-value {
    background-color: lime;
    border-radius: 8px;
}

progress[name="laranja"]::-webkit-progress-value {
    background-color: orange;
    border-radius: 8px;
}

progress[name="vermelho"]::-webkit-progress-value {
    background-color: red;
    border-radius: 8px;
}


/* progress::-moz-progress-bar {
    background: linear-gradient(90deg, lime 0%, orange 25%, red 75%);
}  */
.painel h2 {
    margin: 0.5rem;
    /* text-align: left; */
    color: #FFF;
    font-size: 3vh;
    font-weight: 500;
}

.painel h3 {
    color: #FFF;
    font-size: 2vh;
    font-weight: 500;
}

.area_meio_direita {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.kpi {
    flex: 1;
    text-align: center;
    color: white;
    width: 150px;
    height: 227px;
    border-radius: 28px;
    background-color: rgba(36, 36, 36, 1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 4px 10px 0px rgba(0, 0, 0, 0.3), 0px 14px 36px 0px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.area_inferior {
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.chart {
    width: 40vw;
}

#grafico_cpu,
#grafico_ram {
    background-color: #000000;
    border-radius: 10px;

}

/* Estilo para o pop-up de informações */
.popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Estilo para os parágrafos dentro do pop-up */
.popup p {
    margin-bottom: 15px;
}

/* Estilo para o botão de fechar o pop-up */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Efeito de hover para o botão de fechar o pop-up */
.close:hover {
    transform: scale(2);
}

/* Estilo para a imagem do botão de pop-up */
.botao-popup img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Efeito de hover para a imagem do botão de pop-up */
.botao-popup img:hover {
    transform: scale(1.5);
}

/* Estilo para a área do botão de pop-up */
.botao-popup {
    display: flex;
    justify-content: end;
    padding: 5%;
}